
html {
    color: #222;
    font-size: 1em;
    font-family: "WorkSans", "Helvetica Neue", Helvetica, Arial, sans-serif;

    line-height: 1.4;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

\
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

\
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


textarea {
    resize: vertical;
}



.hidden {
    display: none !important;
}
a{color:#0000ff;}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}



.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}


.invisible {
    visibility: hidden;
}


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
#header{
    padding:20px;
    top:0px;
    margin-bottom:10px;
    position:fixed;
    height:75px;
    width:100%;
    z-index:10000;
    background:white;
    border-bottom:1px solid black;
}
#header h1{
    margin:0px;
    float:left;
    font-size:16px;
    letter-spacing: 1px; 
}
.grid-item h1{
    margin:0px;
    font-size:20px;
    letter-spacing: 1px; 
}
.link-list{
    margin:0px;
    float:right;
}
.link-list li{
    display: inline;
    letter-spacing: 1px;    
}
.link-list li a, h1 a{
    color:black;
    text-decoration: none;
}
.grid-item .link-list li a{
    color:white;
}
.grid-item:hover .link-list li a{
    color:blue;
}
.link-list li a:hover, h1 a:hover{
    color:blue;
    text-decoration:underline;
}
#site-content{
    width:95%;
    margin:auto;
    box-sizing: border-box;
}

img{
    max-width:100%;
}

.grid{
        margin-left: 30px;
        margin-top:150px;
}
.section{
        margin-left: 30px;
        margin-top:150px;
}
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
.about{
    font-size:20px;
}

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }



    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.title,.info,.link-list,.statement{
    display:block;
    margin-bottom: 10px;
    
}
* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */



/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    box-sizing:border-box;
  width: 300px;
  padding:5px;
  float: left;
  margin:5px;
  margin-bottom:10px;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  
}
.about img{
    width:50%;
    margin:10px 0;
    float:left;
    max-height:700px;
    min-height:300px;

}
.grid-item--width2 { width: 480px; }
.grid-item--width3 { width: 640px; }

.grid-item--height2 { height: 260px; }
.grid-item--height3 { height: 360px; }

.section-slim{
    width:100%;
}
.section-medium{
    width:50%;
}
.othernet{background-image: url("../img/othernet.png");}
.satellite{background-image: url("../img/sat-sounds.jpg");}

.dod{background-image: url("../img/dod.png");color:white;}
.gizmodo{background-image: url("../img/gizmodo.png");}
.craters{    background-image: url("../img/craters.gif");
    background-size: 100%;
    background-color: black;
    background-position-y: 33%;}

.doppel{background-image: url("../img/doppel.jpg");}
.net-neutrality{background-image: url("../img/net-neutrality.png");}

.othernet .title, .craters .title, .doppel .title,.satellite .title{color:white;}
.grid-item:hover{background:white;}
.othernet:hover .title{
    color:black
}
.info, .statement{
    background:white;
    opacity:0;
}
.grid-item:hover .info, .grid-item:hover .statement, .grid-item:hover .link-list{
    opacity:1;
}
.craters:hover .title, .doppel:hover .title,.satellite:hover .title{
    color:black;
}
.dod:hover{
    color:black;
}

@media only screen and (max-width: 1330px) {
    .grid{
        display: flex;
        display: -webkit-flex; /* Safari */

    }
    .grid-item{
      width:500px;

    }
}
@media only screen and (max-width: 1130px) {
    .grid{
        display: flex;
        display: -webkit-flex; /* Safari */

    }
    .grid-item{
      width:100%;

    }
}


@media only screen and (max-width: 600px) {
    .grid{
        margin:80px 0px;

    }
    .grid-item{
            width: 100%;
            background-image: none;
                background-color: white;

    }
    #site-content{
        width:100%;
    }
    .info, .statement{
    background:white;
    opacity:1;
    color:black;
    }
    .title, .doppel .title, .craters .title, .satellite .title, .othernet .title{
        color:black;
    }
    ul.link-list{
    padding: 0px;
    font-size: 13px;
    float: left;
    margin-top: 7px;
    }
}


